<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://java.sun.com/xml/ns/j2ee
			http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param> 
	    <param-name>contextConfigLocation</param-name> 
	    <param-value>WEB-INF/webapp-config.xml</param-value> 
	</context-param>
	<listener>
		<listener-class>com.flipkart.phantom.runtime.impl.spring.web.WebContextLoaderListener</listener-class>
	</listener> 

	<!--  
		  Three servlets are created, as an event stream can only be accessed by one client at a time.
		  Two servlets are for local streams (one for command, and one for Thread pool graphs)
		  One servlet is for Global (for Turbine)
	 -->
	<!--  Servlet for local Dashboard (command) -->
	<servlet>
		<description></description>
		<display-name>HystrixMetricsStreamServletCommandLocal</display-name>
		<servlet-name>HystrixMetricsStreamServletCommandLocal</servlet-name>
		<servlet-class>com.flipkart.phantom.runtime.impl.hystrix.HystrixMetricsStreamServlet</servlet-class>
	</servlet>
	
	<!--  Servlet for global Dashboard (turbine) -->
	<servlet>
		<description></description>
		<display-name>HystrixMetricsStreamServletGlobal</display-name>
		<servlet-name>HystrixMetricsStreamServletGlobal</servlet-name>
		<servlet-class>com.flipkart.phantom.runtime.impl.hystrix.HystrixMetricsStreamServlet</servlet-class>
	</servlet>

    <!-- Snapshot -->
    <servlet>
		<description></description>
		<display-name>HystrixMetricsSnapshotServletGlobal</display-name>
		<servlet-name>HystrixMetricsSnapshotServletGlobal</servlet-name>
		<servlet-class>com.flipkart.phantom.runtime.impl.hystrix.HystrixMetricsSnapshotServlet</servlet-class>
	</servlet>
	
	<!--  Servlet for local Dashboard (thread pool) -->
	<servlet>
		<description></description>
		<display-name>HystrixMetricsStreamServletThreadpoolLocal</display-name>
		<servlet-name>HystrixMetricsStreamServletThreadpoolLocal</servlet-name>
		<servlet-class>com.flipkart.phantom.runtime.impl.hystrix.HystrixMetricsStreamServlet</servlet-class>
	</servlet>
	
	<!--  URL mappings for each servlet -->
	<servlet-mapping>
		<servlet-name>HystrixMetricsStreamServletCommandLocal</servlet-name>
		<url-pattern>/hystrix.stream.command.local</url-pattern> <!-- all the hystrix metrics will be streamed to JSON to this URL -->
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HystrixMetricsStreamServletGlobal</servlet-name>
		<url-pattern>/hystrix.stream.global</url-pattern> <!-- all the hystrix metrics will be streamed to JSON to this URL -->
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HystrixMetricsStreamServletThreadpoolLocal</servlet-name>
		<url-pattern>/hystrix.stream.tp.local</url-pattern> <!-- all the hystrix metrics will be streamed to JSON to this URL -->
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>HystrixMetricsSnapshotServletGlobal</servlet-name>
		<url-pattern>/hystrix.snapshot.global</url-pattern> <!-- all the hystrix metrics will be streamed to JSON to this URL -->
	</servlet-mapping>
	
	<!-- Spring MVC servlet for ServiceProxy Web Console -->
	<servlet>
		<servlet-name>ServiceProxyServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/servlet-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServiceProxyServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- Sample Tracing filter integration. Uncommenting this would require a bean by name "ServletTraceFilter" to be defined
	     in /resources/external/common-web-config.xml of the deployed Phantom runtime
	     
	<filter>
	   <filter-name>ServletTraceFilter</filter-name>
	   <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>ServletTraceFilter</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>	
	
	-->	
	
</web-app>
